[data-md-color-scheme="stingray"] {
    --md-primary-fg-color:  #fff;
    --md-typeset-a-color:   #3969e6;
    --md-footer-bg-color:   #f3f4f6;
    --md-default-fg-color:  #666;
    --md-default-bg-color:  #f3f4f6;
    --md-primary-bg-color:  #322e4f;
    --md-primary-bg-color--light: #bbb;
    --md-accent-fg-color:   #f51c6a;
    --md-default-fg-color--lightest: #3969e266;
    --md-code-fg-color: #020066;
    --md-code-bg-color: #dce2f3;
    --md-footer-fg-color: #3969e6;
    --md-footer-bg-color--dark: #f3f4f6;
}

[data-md-color-scheme="slate"]{ 
    --md-hue: 210;}

.md-grid {
    max-width: 90%; 
}

.md-header__button.md-logo :-webkit-any(img,svg) {
    height: 1.4rem;
    margin-right: -0.9rem;
}

.md-ellipsis {
    font-size: .8rem;
}

.md-search__form {
    border: none;
    border-radius: 0.8rem;
    background: #ebebeb;
    transition: 0.5s ease;
    height: 1.6rem;
}

.md-search__form:hover {
    background: var(--md-default-bg-color);
    transition: 1s ease;
}

[dir=ltr] .md-search__output {
    border-radius: 0 0 0.8rem 0.8rem;
    margin-left: 0.6rem;
    background: #f3f4f6;
    width: 33.5rem;
    border-bottom: none;
    margin-top: -.2rem;
    /* height: 1.6rem; */
    }

[data-md-toggle=search]:checked~.md-header .md-search__form {
    border-radius: 0.8rem 0.8rem 0 0;
    background: #f3f4f6;
    border-top: none;
}

.md-tabs__link {
    margin-top: 0.448rem;
}

.md-tabs__link--active, .md-tabs__link:is(:focus) {
    color: inherit;
    font-weight: 500;
    padding-bottom: 0.6rem;
    border-bottom: 4px solid var(--md-accent-fg-color);
    opacity: 1;
}

.md-tabs__item {
    display: inline-block;
    height: 1.1rem;
    line-height: 0rem;
}

[dir=ltr] .md-search__icon[for=__search] {
    top: 0.1;
    left: 0.3rem;
    color: #bbb;
}

.md-search-result__meta {
    color: #3969e2;
    font-size: .64rem;
    line-height: 1.5rem;
    padding: 0 .8rem;
}

.md-typeset :is(.note)>:is(.admonition-title,summary) {
    background-color: var(--md-default-fg-color--lightest);
    border-color: var(--md-typeset-a-color);
}

.md-footer {
    background-color: var(--md-footer-bg-color);
    color: var(--md-default-fg-color);
}

.md-footer__inner {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    padding: 0rem;
    background: var(--md-footer-bg-color);
}

.footer_info {
    color: var(--md-default-fg-color);
    margin-bottom: 1rem;
}

html .md-footer-meta.md-typeset a {
    color: var(--md-code-fg-color);
}

html .md-footer-meta.md-typeset a:hover {
    color: var(--md-accent-fg-color);
}

.md-header__button {
    color: #8b93a2;
    transition: opacity .5s;
}

.md-source__icon {
    display: inline-block;
    height: 2.4rem;
    vertical-align: middle;
    width: 2rem;
    color: #8b93a2;
    transition: opacity .5s;
}

.extlink {
    font-size: .7rem;
    color: var(--md-default-fg-color);
}

.extlink::after {
    margin-left: 5px;
    margin-right: 20px;
    color: #666;
    content: url(../img/ext.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
}

.extlink:hover {
    font-size: .7rem;
    color: var(--md-accent-fg-color);
}